<div cdkDropListGroup>
  <div class="example-container">
    <h2>To Do</h2>

    <div>
      <input type="text" [(ngModel)]="newTask" placeholder="Add a new task" />
      <button (click)="addTask()">Add Task</button>
    </div>

    <div cdkDropList
      [cdkDropListData]="todo"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      @for (item of todo; track trackByFn($index, item)) {
        <div class="example-box" cdkDrag [cdkDragData]="item">
          {{ item }}
        </div>
      }
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>
    <div cdkDropList
      [cdkDropListData]="done"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      @for (item of done; track trackByFn($index, item)) {
        <div class="example-box" cdkDrag [cdkDragData]="item">
          {{ item }}
        </div>
      }
    </div>
  </div>
</div>



